<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attack</title>
  </head>
  <body>
    <h1><%="#{@game.attacker.name} attacked #{@game.defender.name}"%></h1>
    <form action="/switch-turn" method="post">
     <button type="submit">play</button>
  </form>
  </body>
</html>
