<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attack</title>
  </head>
  <body>
    <h1><%="#{@game.attacker.name} attacked #{@game.defender.name}"%></h1><br>
    <h2><%="#{@game.defender.name} was damaged"%></h2>
    <p>
      <%="#{@game.defender.name}: #{@game.defender.hp}HP"%>
    </p>
    
    <% if @game.end_game? == true %>
      <form action="/switch-turn" method="post">
        <input type="submit" value="Game Over">
      </form>
    <% else %>
      <form action="/switch-turn" method="post">
        <button type="submit">play</button>
      </form>
    <% end %>
  </body>
</html>
