<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attack</title>
  </head>
  <body>
    <h1><%="#{@game.player1.name} attacked #{@game.player2.name}"%></h1>
    <form action="/play">
     <button type="submit">play</button>
  </form>
  </body>
</html>
