<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
      form {

      }
    </style>
  </head>
  <body>
    <h1>Players enter your names:</h1>
    <form action="/names" method="post">
      player 1: <input type = "text" name="player1"><br>
      player 2: <input type="text" name="player2"><br>
      <input type="submit"value="Submit">
      </form>
  </body>
</html>
